# backend/api 서버 주소
REACT_APP_SERVER_URL=http://localhost:4000

# 카카오 소셜 로그인
REACT_APP_KAKAO_CLIENT_ID=

# 구글 소셜 로그인
REACT_APP_GOOGLE_CLIENT_ID=
REACT_APP_GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
REACT_APP_GOOGLE_SCOPE_PROFILE=https://www.googleapis.com/auth/userinfo.profile
REACT_APP_GOOGLE_SCOPE_EMAIL=https://www.googleapis.com/auth/userinfo.email
